.flecha {
  .flechaArriba {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: $colorBlancoOp;
    bottom: 30px;
    right: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: $colorPrincipal;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
    transition: 0.2s ease-in;
    animation-name: salto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-delay: 0s;

    &:hover {
      background: $colorPrincipalOp;
      color: $colorBlanco;
      transition: 0.2s ease-in;
    }
  }

  //   MEDIAQUERIES
  @media (max-width: 940px) {
    .flechaArriba {
      width: 45px;
      height: 45px;
      font-size: 20px;
    }
  }
}

@keyframes salto {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(5px);
  }
}
