// ESTILOS GENERALES ------------------------------------------------------------------------------------------------------
// Variables

// tipografias
$tipografiaPrincipal: "Montserrat", sans-serif;
$tipografiaTitulos: "Abril Fatface", cursive;

// colores
$colorPrincipal: #173954;
$colorSecundario: #7ba9cf;
$colorNegro: rgb(15, 15, 15);
$colorNegroPuro: rgb(0, 0, 0);
$colorBlanco: white;
$colorBlancoOp: rgba(255, 255, 255, 0.767);

// selection 
::selection {
  background: $colorPrincipal;
  color: $colorBlanco;
}

// all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $tipografiaPrincipal;
}

html{
  scroll-behavior: smooth;
}