// HABILIDADES -------------------------------------------------------------------------------------------------

.misHabilidades {
  background-image: url(media/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 20px;
  padding-bottom: 70px;

  h1 {
    font-size: 50px;
    text-align: center;
    color: $colorBlanco;
    font-family: $tipografiaTitulos;
    padding-bottom: 40px;
    font-weight: normal;
    padding-top: 15px;
  }

  #porcentajes {
    background-color: rgba($colorPrincipal, 0.8);
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0 60px 60px 60px;
    width: 60%;
    margin: 0 auto;

    h2 {
      padding-top: 30px;
      font-family: $tipografiaPrincipal;
      text-align: center;
      color: $colorBlanco;
      font-variant: small-caps;
      font-weight: bolder;
      letter-spacing: 1px;
    }
  }

  #porcentajes {
    p {
      font-family: $tipografiaPrincipal;
      color: $colorBlanco;
      font-weight: bold;
      text-align: end;
      margin-bottom: 10px;
    }

    #photoshop {
      height: 10px;
      border-radius: 50px;
      background-color: $colorBlanco;
      animation-name: barrasPhotoshop;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0s;
      width: 100%;
    }

    #illustrator {
      height: 10px;
      border-radius: 50px;
      background-color: $colorBlanco;
      animation-name: barrasIllustrator;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0s;
      width: 100%;
    }

    #indesign {
      height: 10px;
      border-radius: 50px;
      background-color: $colorBlanco;
      animation-name: barrasIndesign;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0s;
      width: 95%;
    }

    #animate {
      height: 10px;
      border-radius: 50px;
      background-color: $colorBlanco;
      animation-name: barrasAnimate;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0s;
      width: 80%;
    }

    #css {
      height: 10px;
      border-radius: 50px;
      background-color: $colorBlanco;
      animation-name: barrasCss;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0s;
      width: 70%;
    }

    #html {
      height: 10px;
      border-radius: 50px;
      background-color: $colorBlanco;
      animation-name: barrasHtml;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0s;
      width: 60%;
    }
  }

  @keyframes barrasPhotoshop {
    0% {
      width: 0px;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes barrasIllustrator {
    0% {
      width: 0px;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes barrasIndesign {
    0% {
      width: 0px;
    }
    100% {
      width: 95%;
    }
  }

  @keyframes barrasAnimate {
    0% {
      width: 0px;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes barrasHtml {
    0% {
      width: 0px;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes barrasCss {
    0% {
      width: 0px;
    }
    100% {
      width: 70%;
    }
  }

  #barra {
    height: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.247);
    width: 100%;
  }
}

@media (max-width: 1125px) {
  .misHabilidades {
    h1 {
      padding-top: 100px;
    }

    #porcentajes {
      width: 80%;
      padding: 0 30px 30px 30px;

      h2 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
